<%- include('./partials/header'); -%>

    <h1 class="display-1">about</h1>
    <p class="text-primary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius quod pariatur eaque at quisquam? Deleniti rem ab unde error aliquid, fuga eligendi at tempora repellat minus omnis, qui expedita? Ipsum?</p>
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--kTMte66_--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/6vr2cifut253zntgwc6g.png" alt="">
    <script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<%- include('./partials/footer'); -%>
